.main {
    padding-top: 15px;
}

.main-presentasion {
    display: flex;
    max-width: 1400px;
    max-height: 623px;
    border: solid 1px #6F6F6F;
    margin-inline: 20px;
}

.main-presentasion-image {
    width: 912px;
    height: 600px;
    border: solid 1px #6F6F6F;
    background-image: url(/images/block-one-general-Page.jpg);
    margin: 10px 10px 10px 10px;
    
}

.info {
    width: 466px;
    height: 310px;
    border-left: solid 1px #6F6F6F;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;

    h2 {
        font-size: 48px;
    }

    p {
        font-size: 16px;
    }
}

.main-dashed-images {
    width: 466px;
    height: 310px;
    border-left: solid 1px #6F6F6F;
    background: url(/images/Line-gorizontal-block-tree-general-Page.png) 0 0 no-repeat,
        url(/images/Left-Line-block-one-general-Page.png) no-repeat,
        url(/images/Right-Line-block-one-general-Page.png) right no-repeat,
        url(/images/Line-vertikal-block-tree-general-Page.png) center no-repeat;
}

// добавил декоративные прерывистые картинки в первый блок